{{ define "singlePart" }}

<div class="container-fluid row mx-0  px-0 ">

    <div class="container-fluid col-md-3 mx-0 "> 
      {{ partial "sidemenu.html"  .}}
    </div>
   
    <div class="container-fluid px-0 col-lg-6"> 
            <nav>
            <ul class="pagination pagination-sm justify-content-end">
              <li class="page-item"><a class="page-link" href="#"><< Previous </a></li>

              <li class="page-item"><a class="page-link" href="#">Next >></a></li>
            </ul>
            </nav>
        {{ .Content }} 
    </div>


    <div class="container-fluid mx-0 px-0 col-md-2 ">

        {{ partial "toc"  . }}
    </div> 

 </div>
 

{{ end }}