{{ define "singlePart" }}

{{$next_page := .Params.book.next_page }}
{{$prev_page := .Params.book.prev_page }}

<div class="container-fluid row mx-0  px-0 ">

    <div class="container-fluid col-md-3 mx-0 "> 
      {{ partial "sidemenu.html"  .}}
    </div>
   
    <div class="container-fluid px-1 mx-1 col-lg-6 col-md-8" id="main_content"> 

            <nav>
            <ul class="pagination pagination-sm justify-content-end">
              {{ if eq $prev_page "None" }}
                <li class="page-item disabled"><a class="page-link" href="#"><< Previous </a></li>
              {{ else }}
                <li class="page-item"><a class="page-link" href="{{ref . .Params.book.prev_page }}"><< Previous </a></li>
              {{ end }}

              {{ if eq $next_page "None" }}
                <li class="page-item disabled"><a class="page-link" href="#">Next >></a></li>
              {{ else }}
                <li class="page-item"><a class="page-link" href="{{ref . .Params.book.next_page }}">Next >></a></li>
              {{ end }}

            </ul>
            </nav>
        {{ .Content }} 
    </div>


    <div class="container-fluid mx-0 px-0 col-lg-2 ">

        {{ partial "toc"  . }}
    </div> 

 </div>
 

{{ end }}