<nav class="navbar navbar-expand-md navbar-dark bg-dark px-3 py-1 ">
      <button class="navbar-toggler" type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#bookmenu"  >
      <span class="navbar-toggler-icon"></span>
      </button>

      <h1 class="navbar-brand text-sm-center display-5 fs-3 " href="#"> चिन्तन </h1>

      <button class="navbar-toggler" type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#navmenu"  >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link active text-warning" href="/"> Home</a>
          </li>
          <!-- li class="nav-item">
            <a class="nav-link active text-info" href="/"> Change Script</a>
          </li -->
          <li class="nav-item px-3">
            <a class="nav-link active" href="/about"> About</a>
          </li>
        </ul>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Not yet avl.">
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>
      </div>
  </nav>