<section class="bg-dark  text-light text-center text-md-start py-3">
    <div class="container-fluid ">
        <div class="d-flex align-items-center justify-content-center">
            <div class="p-5"> 
                <h1> चिन्तन </h1>
                <p> 
                    This website is an attempt to document learnings in Philosophy 
                    and Sanskrit.
                </p>
            </div>
            <img class="img-fluid d-none d-lg-block  py-5" src="img/vyasa-small.png" alt="">
        </div>
    </div>
</section>