<section class="bg-dark  text-light text-center text-md-start py-3">
    <div class="container-fluid ">
        <div class="d-flex align-items-center justify-content-center">
            <div class="p-5"> 
                <h1> चिन्तन </h1>
                <h4> Sanskrit Hyms/Books in Simple electronic book format. </h4>
                <p> 
                    Readers can use for recitation and reading commentaries.<br/>
                    This still a work in progress!!
                </p>
            </div>
            <img class="img-fluid d-none d-lg-block  py-5" src="img/vyasa-small.png" alt="">
        </div>
    </div>
</section>